$blue: #312843;
$yellow: #FFFD46;

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/RM-Typerighter-medium.woff2') format('woff2'), url('../fonts/RM-Typerighter-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box !important;
}

.lemonland {
    background-color: #d84540;
}

body {
    background-color: $blue;
    color: $yellow !important;
    font-family: 'Open Sans', serif;

}

section {
    // background: grey;
    text-align: center;
    max-width: 680px;
    // height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    .content {
        padding-left: 15px;
        padding-right: 15px;
    }

    video {
        width: 100%;
        height: auto;
    }
}

p {
    margin-bottom: 20px;
    line-height: 20px;
    letter-spacing: .2px;
    font-size: 32px;
    color: $yellow !important;
}

h1 {
    font-size: 64px;
}

a {
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: .2px;
    font-size: 32px;
    color: $yellow !important;
}

.emoji {
    font-size: 20px;
}

.bold {
    font-weight: 800;
    letter-spacing: 1px;
}

.button {
    max-width: 100%;
    background-color: $yellow;
    color: #d84540;
    padding: 15px;
    font-size: 50px;
    line-height: 30px;
    padding-top: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.response {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    img {
        max-width: 200px;
    }
}

#tourDates a {
    display: block;
}


.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

// * {
//     transition: all 0.5s ease-out;
// }

.flyer {
    width: 100%;
}

#socials {
    position: fixed;
    bottom: 15px;
    width: 100%;
    margin: auto;
    text-align: center;

    a {
        font-size: 20px !important;
        margin: 0 2.5px;
    }
}